swagger: '2.0'
info:
  version: '1.0'
  title: ParallelDots AI APIs Docs
  description: 'Our powerful Deep Learning powered APIs can comprehend a huge amount of unstructured text and visual content to empower your products.'
host: apis.paralleldots.com
basePath: /v3
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /sentiment:
    post:
      description: |-
        # Introduction
        What does your API do?

        Sentiment API accepts input text, language code and API key to return a JSON response classifying the input text into a sentiment.

        # Overview
        Things that the developers should know about

        The API accepts the input parameters as form-data.Languages supported are German (de), French (fr), Dutch (nl), Italian (it), Spanish (es), Chinese (zh), Portuguese (pt), Japanese (ja), Indonesian (id), Thai (th), Danish (da), Finish (fi)

        Response will be in JSON sorted by confidence score as shown below:

        ```
        {
            "probabilities": {
                "positive": 0.241,
                "neutral": 0.304,
                "negative": 0.454
            },
            "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
            "sentiment": "negative"
        }
        ```

        # Authentication
        What is the preferred way of using the API?

        An API key is required to be sent as a parameter to authenticate your requests.


        # Rate limit
        Is there a limit to the number of requests an user can send?

        There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      summary: Sentiment
      tags:
        - Sentiment
      operationId: SentimentPost
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: text
          in: formData
          required: true
          type: string
          description: ''
        - name: api_key
          in: formData
          required: true
          type: string
          description: ''
        - name: lang_code
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      security: []
      x-unitTests:
        - request:
            method: POST
            uri: /sentiment
            headers:
              Content-Type: application/x-www-form-urlencoded
            body: text=Senator Dianne Feinstein suffered a setback in her effort to win a sixth term representing California as the state Democratic Party declined this weekend to endorse her re-election bid.&api_key=DEPKd5WEts1PKbDaTDWJdTM2JxusAEkRQ&lang_code=en
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Sentiment
          x-testDescription: |-
            # Introduction
            What does your API do?

            Sentiment API accepts input text, language code and API key to return a JSON response classifying the input text into a sentiment.

            # Overview
            Things that the developers should know about

            The API accepts the input parameters as form-data.Languages supported are German (de), French (fr), Dutch (nl), Italian (it), Spanish (es), Chinese (zh), Portuguese (pt), Japanese (ja), Indonesian (id), Thai (th), Danish (da), Finish (fi)

            Response will be in JSON sorted by confidence score as shown below:

            ```
            {
                "probabilities": {
                    "positive": 0.241,
                    "neutral": 0.304,
                    "negative": 0.454
                },
                "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
                "sentiment": "negative"
            }
            ```

            # Authentication
            What is the preferred way of using the API?

            An API key is required to be sent as a parameter to authenticate your requests.


            # Rate limit
            Is there a limit to the number of requests an user can send?

            There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /emotion:
    post:
      description: |-
        # Introduction
        What does your API do?

        Sometimes the three classes of sentiment (positive, negative and neutral) are not sufficient to understand the nuances regarding the underlying tone of a sentence. Our Emotion Analysis classifier is trained on our proprietary dataset and tells whether the underlying emotion behind a message is: Happy, Sad, Angry, Fearful, Excited, Funny or Indifferent.

        # Overview
        Things that the developers should know about

        The API accepts the input parameters as form-data.Languages supported are German (de), French (fr), Dutch (nl), Italian (it), Spanish (es), Chinese (zh), Portuguese (pt), Japanese (ja), Indonesian (id), Thai (th), Danish (da), Finish (fi)

        Response will be in JSON as shown below:

        ```
        {
            "emotion": {
                "probabilities": {
                    "angry": 0.376,
                    "indifferent": 0.189,
                    "sad": 0.381,
                    "excited": 0.014,
                    "happy": 0.04
                },
                "emotion": "sad"
            },
            "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions"
        }

        ```

        # Authentication
        What is the preferred way of using the API?

        An API key is required to be sent as a parameter to authenticate your requests.


        # Rate limit
        Is there a limit to the number of requests an user can send?

        There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      summary: Emotion
      tags:
        - Emotion
      operationId: EmotionPost
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: text
          in: formData
          required: true
          type: string
          description: ''
        - name: api_key
          in: formData
          required: true
          type: string
          description: ''
        - name: lang_code
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      security: []
      x-unitTests:
        - request:
            method: POST
            uri: /emotion
            headers:
              Content-Type: application/x-www-form-urlencoded
            body: 'text=The news from the White House is that more than 18 months since the F.B.I. proble began, there is still no evidence of Russian collusion.&api_key=DEPKd5WEts1PKbDaTDWJdTM2JxusAEkRQ&lang_code=en'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Emotion
          x-testDescription: |-
            # Introduction
            What does your API do?

            Sometimes the three classes of sentiment (positive, negative and neutral) are not sufficient to understand the nuances regarding the underlying tone of a sentence. Our Emotion Analysis classifier is trained on our proprietary dataset and tells whether the underlying emotion behind a message is: Happy, Sad, Angry, Fearful, Excited, Funny or Indifferent.

            # Overview
            Things that the developers should know about

            The API accepts the input parameters as form-data.Languages supported are German (de), French (fr), Dutch (nl), Italian (it), Spanish (es), Chinese (zh), Portuguese (pt), Japanese (ja), Indonesian (id), Thai (th), Danish (da), Finish (fi)

            Response will be in JSON as shown below:

            ```
            {
                "emotion": {
                    "probabilities": {
                        "angry": 0.376,
                        "indifferent": 0.189,
                        "sad": 0.381,
                        "excited": 0.014,
                        "happy": 0.04
                    },
                    "emotion": "sad"
                },
                "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions"
            }

            ```

            # Authentication
            What is the preferred way of using the API?

            An API key is required to be sent as a parameter to authenticate your requests.


            # Rate limit
            Is there a limit to the number of requests an user can send?

            There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /similarity:
    post:
      description: |-
        # Introduction
        What does your API do?

        Semantic Analysis API helps users cluster similar articles by understanding the relatedness between different content and streamlines research by eliminating redundant text contents.

        # Overview
        Things that the developers should know about

        The API accepts the input parameters as form-data.

        Response will be in JSON as shown below:

        ```
        {
          "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
          "actual_score": 0.842932,
          "normalized_score": 4.931469
        }

        ```

        # Authentication
        What is the preferred way of using the API?

        An API key is required to be sent as a parameter to authenticate your requests.


        # Rate limit
        Is there a limit to the number of requests an user can send?

        There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      summary: Semantic Similarity
      tags:
        - Semantic Similarity
      operationId: SimilarityPost
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: text1
          in: formData
          required: true
          type: string
          description: ''
        - name: api_key
          in: formData
          required: true
          type: string
          description: ''
        - name: text2
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      security: []
      x-unitTests:
        - request:
            method: POST
            uri: /similarity
            headers:
              Content-Type: application/x-www-form-urlencoded
            body: text1=Michael is the greatest swimmer. &api_key=DEPKd5WEts1PKbDaTDWJdTM2JxusAEkRQ&text2=Phelps is the most decorated swimmer.
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Semantic Similarity
          x-testDescription: |-
            # Introduction
            What does your API do?

            Semantic Analysis API helps users cluster similar articles by understanding the relatedness between different content and streamlines research by eliminating redundant text contents.

            # Overview
            Things that the developers should know about

            The API accepts the input parameters as form-data.

            Response will be in JSON as shown below:

            ```
            {
              "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
              "actual_score": 0.842932,
              "normalized_score": 4.931469
            }

            ```

            # Authentication
            What is the preferred way of using the API?

            An API key is required to be sent as a parameter to authenticate your requests.


            # Rate limit
            Is there a limit to the number of requests an user can send?

            There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /ner:
    post:
      description: |-
        # Introduction
        What does your API do?

        Named-entity recognition(NER) can identify individuals, companies, places, organization, cities and other various type of entities. API can extract this information from any type of text, web page or social media network.

        # Overview
        Things that the developers should know about

        The API accepts the input parameters as form-data.

        Response will be in JSON as shown below:

        ```
        {
            "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
            "entities": [
                {
                    "category": "name",
                    "name": "Donald Trump",
                    "confidence_score": 0.977811
                },
                {
                    "category": "place",
                    "name": "United States",
                    "confidence_score": 0.982107
                }
            ]
        }

        ```

        # Authentication
        What is the preferred way of using the API?

        An API key is required to be sent as a parameter to authenticate your requests.


        # Rate limit
        Is there a limit to the number of requests an user can send?

        There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      summary: Name Entity Recognition
      tags:
        - Name Entity Recognition
      operationId: NerPost
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: text
          in: formData
          required: true
          type: string
          description: ''
        - name: api_key
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      security: []
      x-unitTests:
        - request:
            method: POST
            uri: /ner
            headers:
              Content-Type: application/x-www-form-urlencoded
            body: text=Donald Trump is the President of the United States of America.&api_key=DEPKd5WEts1PKbDaTDWJdTM2JxusAEkRQ
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Name Entity Recognition
          x-testDescription: |-
            # Introduction
            What does your API do?

            Named-entity recognition(NER) can identify individuals, companies, places, organization, cities and other various type of entities. API can extract this information from any type of text, web page or social media network.

            # Overview
            Things that the developers should know about

            The API accepts the input parameters as form-data.

            Response will be in JSON as shown below:

            ```
            {
                "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
                "entities": [
                    {
                        "category": "name",
                        "name": "Donald Trump",
                        "confidence_score": 0.977811
                    },
                    {
                        "category": "place",
                        "name": "United States",
                        "confidence_score": 0.982107
                    }
                ]
            }

            ```

            # Authentication
            What is the preferred way of using the API?

            An API key is required to be sent as a parameter to authenticate your requests.


            # Rate limit
            Is there a limit to the number of requests an user can send?

            There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /keywords:
    post:
      description: |-
        # Introduction
        What does your API do?

        Keyword Generator are powerful tools in text analysis that can be used to index data, generate tag clouds and accelerate the searching time. It generates an extensive list of relevant keywords and phrases to make research more context focussed.

        # Overview
        Things that the developers should know about

        The API accepts the input parameters as form-data.

        Response will be in JSON as shown below:

        ```
        {
            "keywords": [
                {
                    "keyword": "Cristiano Ronaldo",
                    "confidence_score": 0.887065
                },
                {
                    "keyword": "Principality Stadium",
                    "confidence_score": 0.903289
                },
                {
                    "keyword": "Cardiff last",
                    "confidence_score": 0.806802
                },
                {
                    "keyword": "couple",
                    "confidence_score": 0.69036
                },
                {
                    "keyword": "hours",
                    "confidence_score": 0.984956
                },
                {
                    "keyword": "Real Madrid win",
                    "confidence_score": 0.812151
                }
            ],
            "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions"
        }
        ```

        # Authentication
        What is the preferred way of using the API?

        An API key is required to be sent as a parameter to authenticate your requests.


        # Rate limit
        Is there a limit to the number of requests an user can send?

        There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      summary: Keywords
      tags:
        - Keywords
      operationId: KeywordsPost
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: text
          in: formData
          required: true
          type: string
          description: ''
        - name: api_key
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      security: []
      x-unitTests:
        - request:
            method: POST
            uri: /keywords
            headers:
              Content-Type: application/x-www-form-urlencoded
            body: 'text=Cristiano Ronaldo left the Principality Stadium in Cardiff last June, a couple of hours after helping Real Madrid win its third champions League trophy in four years.&api_key=DEPKd5WEts1PKbDaTDWJdTM2JxusAEkRQ'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Keywords
          x-testDescription: |-
            # Introduction
            What does your API do?

            Keyword Generator are powerful tools in text analysis that can be used to index data, generate tag clouds and accelerate the searching time. It generates an extensive list of relevant keywords and phrases to make research more context focussed.

            # Overview
            Things that the developers should know about

            The API accepts the input parameters as form-data.

            Response will be in JSON as shown below:

            ```
            {
                "keywords": [
                    {
                        "keyword": "Cristiano Ronaldo",
                        "confidence_score": 0.887065
                    },
                    {
                        "keyword": "Principality Stadium",
                        "confidence_score": 0.903289
                    },
                    {
                        "keyword": "Cardiff last",
                        "confidence_score": 0.806802
                    },
                    {
                        "keyword": "couple",
                        "confidence_score": 0.69036
                    },
                    {
                        "keyword": "hours",
                        "confidence_score": 0.984956
                    },
                    {
                        "keyword": "Real Madrid win",
                        "confidence_score": 0.812151
                    }
                ],
                "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions"
            }
            ```

            # Authentication
            What is the preferred way of using the API?

            An API key is required to be sent as a parameter to authenticate your requests.


            # Rate limit
            Is there a limit to the number of requests an user can send?

            There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /taxonomy:
    post:
      description: |-
        # Introduction
        What does your API do?

        Text Classification can be useful in understanding customer behaviour by categorizing conversations on social networks, feedback and other web sources.

        # Overview
        Things that the developers should know about

        The API accepts the input parameters as form-data.

        Response will be in JSON as shown below:

        ```
        {
            "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
            "taxonomy": [
                {
                    "tag": "News and Politics",
                    "confidence_score": 0.576461
                },
                {
                    "tag": "Religion & Spirituality",
                    "confidence_score": 0.473842
                },
                {
                    "tag": "Hobbies & Interests",
                    "confidence_score": 0.318032
                }
            ]
        }
        ```

        # Authentication
        What is the preferred way of using the API?

        An API key is required to be sent as a parameter to authenticate your requests.


        # Rate limit
        Is there a limit to the number of requests an user can send?

        There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      summary: Taxonomy
      tags:
        - Taxonomy
      operationId: TaxonomyPost
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: text
          in: formData
          required: true
          type: string
          description: ''
        - name: api_key
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      security: []
      x-unitTests:
        - request:
            method: POST
            uri: /taxonomy
            headers:
              Content-Type: application/x-www-form-urlencoded
            body: text=Senator Dianne Feinstein suffered a setback in her effort to win a sixth term representing California as the state Democratic Party declined this weekend to endorse her re-election bid.&api_key=DEPKd5WEts1PKbDaTDWJdTM2JxusAEkRQ
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Taxonomy
          x-testDescription: |-
            # Introduction
            What does your API do?

            Text Classification can be useful in understanding customer behaviour by categorizing conversations on social networks, feedback and other web sources.

            # Overview
            Things that the developers should know about

            The API accepts the input parameters as form-data.

            Response will be in JSON as shown below:

            ```
            {
                "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
                "taxonomy": [
                    {
                        "tag": "News and Politics",
                        "confidence_score": 0.576461
                    },
                    {
                        "tag": "Religion & Spirituality",
                        "confidence_score": 0.473842
                    },
                    {
                        "tag": "Hobbies & Interests",
                        "confidence_score": 0.318032
                    }
                ]
            }
            ```

            # Authentication
            What is the preferred way of using the API?

            An API key is required to be sent as a parameter to authenticate your requests.


            # Rate limit
            Is there a limit to the number of requests an user can send?

            There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /intent:
    post:
      description: |-
        # Introduction
        What does your API do?

        This classifier tells whether the underlying intention behind a sentence is opinion, news, marketing, complaint, suggestion, apprectiation, query. This is trained on our proprietary dataset.

        # Overview
        Things that the developers should know about

        The API accepts the input parameters as form-data.

        Response will be in JSON as shown below:

        ```
        {
            "probabilities": {
                "marketing": 0.038,
                "news": 0.916,
                "query": 0.008,
                "feedback/opinion": 0.017,
                "spam/junk": 0.02
            },
            "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
            "intent": "news"
        }

        ```

        # Authentication
        What is the preferred way of using the API?

        An API key is required to be sent as a parameter to authenticate your requests.


        # Rate limit
        Is there a limit to the number of requests an user can send?

        There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      summary: Intent
      tags:
        - Intent
      operationId: IntentPost
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: text
          in: formData
          required: true
          type: string
          description: ''
        - name: api_key
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      security: []
      x-unitTests:
        - request:
            method: POST
            uri: /intent
            headers:
              Content-Type: application/x-www-form-urlencoded
            body: 'text=Cristiano Ronaldo left the Principality Stadium in Cardiff last June, a couple of hours after helping Real Madrid win its third champions League trophy in four years.&api_key=DEPKd5WEts1PKbDaTDWJdTM2JxusAEkRQ'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Intent
          x-testDescription: |-
            # Introduction
            What does your API do?

            This classifier tells whether the underlying intention behind a sentence is opinion, news, marketing, complaint, suggestion, apprectiation, query. This is trained on our proprietary dataset.

            # Overview
            Things that the developers should know about

            The API accepts the input parameters as form-data.

            Response will be in JSON as shown below:

            ```
            {
                "probabilities": {
                    "marketing": 0.038,
                    "news": 0.916,
                    "query": 0.008,
                    "feedback/opinion": 0.017,
                    "spam/junk": 0.02
                },
                "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
                "intent": "news"
            }

            ```

            # Authentication
            What is the preferred way of using the API?

            An API key is required to be sent as a parameter to authenticate your requests.


            # Rate limit
            Is there a limit to the number of requests an user can send?

            There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /abuse:
    post:
      description: |-
        # Introduction
        What does your API do?

        Abusive content specifier specifies whether the content is abusive or not.

        # Overview
        Things that the developers should know about

        The API accepts the input parameters as form-data.

        Response will be in JSON as shown below:

        ```
        {
          "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
          "sentence_type": "Abusive",
          "confidence_score": 0.953125
        }

        ```

        # Authentication
        What is the preferred way of using the API?

        An API key is required to be sent as a parameter to authenticate your requests.


        # Rate limit
        Is there a limit to the number of requests an user can send?

        There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      summary: Abuse
      tags:
        - Abuse
      operationId: AbusePost
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: text
          in: formData
          required: true
          type: string
          description: ''
        - name: api_key
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      security: []
      x-unitTests:
        - request:
            method: POST
            uri: /abuse
            headers:
              Content-Type: application/x-www-form-urlencoded
            body: text=you f**king a$$hole&api_key=d5WEts1PKbDaTDWJdTM2JxusAEkRQ
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Abuse
          x-testDescription: |-
            # Introduction
            What does your API do?

            Abusive content specifier specifies whether the content is abusive or not.

            # Overview
            Things that the developers should know about

            The API accepts the input parameters as form-data.

            Response will be in JSON as shown below:

            ```
            {
              "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
              "sentence_type": "Abusive",
              "confidence_score": 0.953125
            }

            ```

            # Authentication
            What is the preferred way of using the API?

            An API key is required to be sent as a parameter to authenticate your requests.


            # Rate limit
            Is there a limit to the number of requests an user can send?

            There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /text_parser:
    post:
      description: |-
        # Introduction
        What does your API do?

        Understand the text entered by using our API.

        # Overview
        Things that the developers should know about

        The API accepts the input parameters as form-data.

        Response will be in JSON as shown below:

        ```
        {
            "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
            "output": [
                {
                    "text": "Donald",
                    "Dependency": "compound",
                    "Tags": "noun"
                },
                {
                    "text": "Trump",
                    "Dependency": "nominal subject",
                    "Tags": "noun"
                },
                {
                    "text": "is",
                    "Dependency": "root",
                    "Tags": "verb"
                },
                {
                    "text": "the",
                    "Dependency": "determiner",
                    "Tags": "determiner"
                },
                {
                    "text": "President",
                    "Dependency": "attribute",
                    "Tags": "noun"
                },
                {
                    "text": "of",
                    "Dependency": "prepositional modifier",
                    "Tags": "preposition or conjunction"
                },
                {
                    "text": "the",
                    "Dependency": "determiner",
                    "Tags": "determiner"
                },
                {
                    "text": "United",
                    "Dependency": "compound",
                    "Tags": "noun"
                },
                {
                    "text": "States",
                    "Dependency": "object of a preposition",
                    "Tags": "noun"
                },
                {
                    "text": "of",
                    "Dependency": "prepositional modifier",
                    "Tags": "preposition or conjunction"
                },
                {
                    "text": "America",
                    "Dependency": "object of a preposition",
                    "Tags": "noun"
                }
            ]
        }

        ```

        # Authentication
        What is the preferred way of using the API?

        An API key is required to be sent as a parameter to authenticate your requests.


        # Rate limit
        Is there a limit to the number of requests an user can send?

        There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      summary: Text Parser
      tags:
        - Text Parser
      operationId: TextParserPost
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: text
          in: formData
          required: true
          type: string
          description: ''
        - name: api_key
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      security: []
      x-unitTests:
        - request:
            method: POST
            uri: /text_parser
            headers:
              Content-Type: application/x-www-form-urlencoded
            body: text=Donald Trump is the President of the United States of America.&api_key=DEPKd5WEts1PKbDaTDWJdTM2JxusAEkRQ
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Text Parser
          x-testDescription: |-
            # Introduction
            What does your API do?

            Understand the text entered by using our API.

            # Overview
            Things that the developers should know about

            The API accepts the input parameters as form-data.

            Response will be in JSON as shown below:

            ```
            {
                "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
                "output": [
                    {
                        "text": "Donald",
                        "Dependency": "compound",
                        "Tags": "noun"
                    },
                    {
                        "text": "Trump",
                        "Dependency": "nominal subject",
                        "Tags": "noun"
                    },
                    {
                        "text": "is",
                        "Dependency": "root",
                        "Tags": "verb"
                    },
                    {
                        "text": "the",
                        "Dependency": "determiner",
                        "Tags": "determiner"
                    },
                    {
                        "text": "President",
                        "Dependency": "attribute",
                        "Tags": "noun"
                    },
                    {
                        "text": "of",
                        "Dependency": "prepositional modifier",
                        "Tags": "preposition or conjunction"
                    },
                    {
                        "text": "the",
                        "Dependency": "determiner",
                        "Tags": "determiner"
                    },
                    {
                        "text": "United",
                        "Dependency": "compound",
                        "Tags": "noun"
                    },
                    {
                        "text": "States",
                        "Dependency": "object of a preposition",
                        "Tags": "noun"
                    },
                    {
                        "text": "of",
                        "Dependency": "prepositional modifier",
                        "Tags": "preposition or conjunction"
                    },
                    {
                        "text": "America",
                        "Dependency": "object of a preposition",
                        "Tags": "noun"
                    }
                ]
            }

            ```

            # Authentication
            What is the preferred way of using the API?

            An API key is required to be sent as a parameter to authenticate your requests.


            # Rate limit
            Is there a limit to the number of requests an user can send?

            There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /custom_classifier:
    post:
      description: |-
        # Introduction
        What does your API do?

        Custom Classifier API accepts input text, categories with a list of sub-categories and API key to return a JSON response classifying the input text into categories provided.

        # Overview
        Things that the developers should know about

        The API accepts the input parameters as form-data. Providing sub-categories is optional, send an empty array ('[]') in case you do want to add any sub-categories to your category.

        Response will be in JSON sorted by confidence score as shown below:

        ```
        {
            "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
            "taxonomy": [
                {
                    "tag": "world politics",
                    "confidence_score": 0.622804
                },
                {
                    "tag": "finance",
                    "confidence_score": 0.325811
                }
            ]
        }
        ```

        # Authentication
        What is the preferred way of using the API?

        An API key is required to be sent as a parameter to authenticate your requests.


        # Rate limit
        Is there a limit to the number of requests an user can send?

        There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      summary: Custom Classifier
      tags:
        - Classification
      operationId: CustomClassifierPost
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: text
          in: formData
          required: true
          type: string
          description: ''
        - name: api_key
          in: formData
          required: true
          type: string
          description: ''
        - name: category
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      security: []
      x-unitTests:
        - request:
            method: POST
            uri: /custom_classifier
            headers:
              Content-Type: application/x-www-form-urlencoded
            body: 'text=Donald Trump is the President of the United States of America.&api_key=DEPKd5WEts1PKbDaTDWJdTM2JxusAEkRQ&category={"finance":["markets","economy","shares"],"world politics":["diplomacy","UN","war"]}'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Custom Classifier
          x-testDescription: |-
            # Introduction
            What does your API do?

            Custom Classifier API accepts input text, categories with a list of sub-categories and API key to return a JSON response classifying the input text into categories provided.

            # Overview
            Things that the developers should know about

            The API accepts the input parameters as form-data. Providing sub-categories is optional, send an empty array ('[]') in case you do want to add any sub-categories to your category.

            Response will be in JSON sorted by confidence score as shown below:

            ```
            {
                "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
                "taxonomy": [
                    {
                        "tag": "world politics",
                        "confidence_score": 0.622804
                    },
                    {
                        "tag": "finance",
                        "confidence_score": 0.325811
                    }
                ]
            }
            ```

            # Authentication
            What is the preferred way of using the API?

            An API key is required to be sent as a parameter to authenticate your requests.


            # Rate limit
            Is there a limit to the number of requests an user can send?

            There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /popularity:
    post:
      description: |-
        # Introduction
        What does your API do?

        Get the virality score of your picture on socail media.

        # Overview
        Things that the developers should know about

        The API accepts the input parameters as form-data.

        Response will be in JSON as shown below:

        ```
        {
            "Popular": "59.8144471645",
            "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
            "Not Popular": "40.1855528355"
        }

        ```

        # Authentication
        What is the preferred way of using the API?

        An API key is required to be sent as a parameter to authenticate your requests.


        # Rate limit
        Is there a limit to the number of requests an user can send?

        There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      summary: Virality Detection
      tags:
        - Virality Detection
      operationId: PopularityPost
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: api_key
          in: formData
          required: true
          type: string
          description: ''
        - name: file
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      security: []
      x-unitTests:
        - request:
            method: POST
            uri: /popularity
            headers:
              Content-Type: application/x-www-form-urlencoded
            body: api_key=d5WEts1PKbDaTDWJdTM2JxusAEkRQ&file=
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Virality Detection
          x-testDescription: |-
            # Introduction
            What does your API do?

            Get the virality score of your picture on socail media.

            # Overview
            Things that the developers should know about

            The API accepts the input parameters as form-data.

            Response will be in JSON as shown below:

            ```
            {
                "Popular": "59.8144471645",
                "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
                "Not Popular": "40.1855528355"
            }

            ```

            # Authentication
            What is the preferred way of using the API?

            An API key is required to be sent as a parameter to authenticate your requests.


            # Rate limit
            Is there a limit to the number of requests an user can send?

            There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /nsfw:
    post:
      description: |-
        # Introduction
        What does your API do?

        Nudity detection classifier is a powerful tool to filter out pornographic and non-pornographic images from social media feeds, forums, messaging apps, etc.. ParallelDots nudity detection classifier can filter such content and help build a safer platform for your community.

        # Overview
        Things that the developers should know about

        The API accepts the input parameters as form-data.

        Response will be in JSON as shown below:

        ```
        {
            "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
            "output": "safe to open at work",
            "prob": 0.911244809627533
        }

        ```

        # Authentication
        What is the preferred way of using the API?

        An API key is required to be sent as a parameter to authenticate your requests.


        # Rate limit
        Is there a limit to the number of requests an user can send?

        There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      summary: NSFW
      tags:
        - Filters
        - Pornography
      operationId: NsfwPost
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: api_key
          in: formData
          required: true
          type: string
          description: ''
        - name: file
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      security: []
      x-unitTests:
        - request:
            method: POST
            uri: /nsfw
            headers:
              Content-Type: application/x-www-form-urlencoded
            body: api_key=d5WEts1PKbDaTDWJdTM2JxusAEkRQ&file=
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: NSFW
          x-testDescription: |-
            # Introduction
            What does your API do?

            Nudity detection classifier is a powerful tool to filter out pornographic and non-pornographic images from social media feeds, forums, messaging apps, etc.. ParallelDots nudity detection classifier can filter such content and help build a safer platform for your community.

            # Overview
            Things that the developers should know about

            The API accepts the input parameters as form-data.

            Response will be in JSON as shown below:

            ```
            {
                "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions",
                "output": "safe to open at work",
                "prob": 0.911244809627533
            }

            ```

            # Authentication
            What is the preferred way of using the API?

            An API key is required to be sent as a parameter to authenticate your requests.


            # Rate limit
            Is there a limit to the number of requests an user can send?

            There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /phrase_extractor:
    post:
      description: |-
        # Introduction
        What does your API do?

        Get phrase keywords from the text in the input.

        # Overview
        Things that the developers should know about

        The API accepts the input parameters as form-data.

        Response will be in JSON as shown below:

        ```
        {
            "keywords": [
                {
                    "relevance_score": 1,
                    "keyword": "Ronaldo"
                },
                {
                    "relevance_score": 2,
                    "keyword": "Principality Stadium"
                },
                {
                    "relevance_score": 1,
                    "keyword": "Cardiff"
                },
                {
                    "relevance_score": 1,
                    "keyword": "last"
                },
                {
                    "relevance_score": 1,
                    "keyword": "June"
                },
                {
                    "relevance_score": 2,
                    "keyword": "Real Madrid"
                },
                {
                    "relevance_score": 1,
                    "keyword": "its"
                },
                {
                    "relevance_score": 2,
                    "keyword": "third champions"
                },
                {
                    "relevance_score": 2,
                    "keyword": "League trophy"
                }
            ],
            "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions"
        }

        ```

        # Authentication
        What is the preferred way of using the API?

        An API key is required to be sent as a parameter to authenticate your requests.


        # Rate limit
        Is there a limit to the number of requests an user can send?

        There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      summary: Phrase Extractor
      tags:
        - Phrase Extractor
        - Text
        - Content
        - Extraction
      operationId: PhraseExtractorPost
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: text
          in: formData
          required: true
          type: string
          description: ''
        - name: api_key
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      security: []
      x-unitTests:
        - request:
            method: POST
            uri: /phrase_extractor
            headers:
              Content-Type: application/x-www-form-urlencoded
            body: 'text=Cristiano Ronaldo left the Principality Stadium in Cardiff last June, a couple of hours after helping Real Madrid win its third champions League trophy in four years.&api_key=DEPKd5WEts1PKbDaTDWJdTM2JxusAEkRQ'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Phrase Extractor
          x-testDescription: |-
            # Introduction
            What does your API do?

            Get phrase keywords from the text in the input.

            # Overview
            Things that the developers should know about

            The API accepts the input parameters as form-data.

            Response will be in JSON as shown below:

            ```
            {
                "keywords": [
                    {
                        "relevance_score": 1,
                        "keyword": "Ronaldo"
                    },
                    {
                        "relevance_score": 2,
                        "keyword": "Principality Stadium"
                    },
                    {
                        "relevance_score": 1,
                        "keyword": "Cardiff"
                    },
                    {
                        "relevance_score": 1,
                        "keyword": "last"
                    },
                    {
                        "relevance_score": 1,
                        "keyword": "June"
                    },
                    {
                        "relevance_score": 2,
                        "keyword": "Real Madrid"
                    },
                    {
                        "relevance_score": 1,
                        "keyword": "its"
                    },
                    {
                        "relevance_score": 2,
                        "keyword": "third champions"
                    },
                    {
                        "relevance_score": 2,
                        "keyword": "League trophy"
                    }
                ],
                "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions"
            }

            ```

            # Authentication
            What is the preferred way of using the API?

            An API key is required to be sent as a parameter to authenticate your requests.


            # Rate limit
            Is there a limit to the number of requests an user can send?

            There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /multilang_keywords:
    post:
      description: |-
        # Introduction
        What does your API do?

        Extract Keywords from different languages using this API.

        # Overview
        Things that the developers should know about

        The API accepts the input parameters as form-data.The API works best when input long and multiple sentences.Languages supported are German(de), French(fr), Dutch(nl), Italian(it), Spanish(es), Portuguese(pt), Danish(da), Finish(fi)
        Response will be in JSON as shown below:

        ```
        {
            "keywords": [
                {
                    "relevance_score": 4,
                    "keyword": "Prime Minister Narendra Modi"
                },
                {
                    "relevance_score": 6,
                    "keyword": "Human Resource Development Minister Smriti Irani"
                },
                {
                    "relevance_score": 2,
                    "keyword": "Lok Sabha"
                },
                {
                    "relevance_score": 1,
                    "keyword": "ongoing"
                },
                {
                    "relevance_score": 2,
                    "keyword": "JNU row"
                },
                {
                    "relevance_score": 2,
                    "keyword": "Dalit scholar"
                },
                {
                    "relevance_score": 2,
                    "keyword": "Rohith Vemula"
                },
                {
                    "relevance_score": 3,
                    "keyword": "Hyderabad Central University"
                }
            ],
            "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions"
        }

        ```

        # Authentication
        What is the preferred way of using the API?

        An API key is required to be sent as a parameter to authenticate your requests.


        # Rate limit
        Is there a limit to the number of requests an user can send?

        There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      summary: Multi Langugage Keywords
      tags:
        - Language
        - Keywords
      operationId: MultilangKeywordsPost
      produces:
        - application/json
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: text
          in: formData
          required: true
          type: string
          description: ''
        - name: api_key
          in: formData
          required: true
          type: string
          description: ''
        - name: lang_code
          in: formData
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      security: []
      x-unitTests:
        - request:
            method: POST
            uri: /multilang_keywords
            headers:
              Content-Type: application/x-www-form-urlencoded
            body: 'text=Monsieur, deux pamplemousses s’il vous plaît! &api_key=DEPKd5WEts1PKbDaTDWJdTM2JxusAEkRQ&lang_code=fr'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Multilang_Keywords
          x-testDescription: |-
            # Introduction
            What does your API do?

            Extract Keywords from different languages using this API.

            # Overview
            Things that the developers should know about

            The API accepts the input parameters as form-data.The API works best when input long and multiple sentences.Languages supported are German(de), French(fr), Dutch(nl), Italian(it), Spanish(es), Portuguese(pt), Danish(da), Finish(fi)
            Response will be in JSON as shown below:

            ```
            {
                "keywords": [
                    {
                        "relevance_score": 4,
                        "keyword": "Prime Minister Narendra Modi"
                    },
                    {
                        "relevance_score": 6,
                        "keyword": "Human Resource Development Minister Smriti Irani"
                    },
                    {
                        "relevance_score": 2,
                        "keyword": "Lok Sabha"
                    },
                    {
                        "relevance_score": 1,
                        "keyword": "ongoing"
                    },
                    {
                        "relevance_score": 2,
                        "keyword": "JNU row"
                    },
                    {
                        "relevance_score": 2,
                        "keyword": "Dalit scholar"
                    },
                    {
                        "relevance_score": 2,
                        "keyword": "Rohith Vemula"
                    },
                    {
                        "relevance_score": 3,
                        "keyword": "Hyderabad Central University"
                    }
                ],
                "usage": "By accessing ParallelDots API or using information generated by ParallelDots API, you are agreeing to be bound by the ParallelDots API Terms of Use: http://www.paralleldots.com/terms-and-conditions"
            }

            ```

            # Authentication
            What is the preferred way of using the API?

            An API key is required to be sent as a parameter to authenticate your requests.


            # Rate limit
            Is there a limit to the number of requests an user can send?

            There is no rate limit as such but too many concurrent requests will throw 504 time-out error from nginx.
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
